


/* This is the containing wrapper */
.default-section-theme {
    font-family: "Gill Sans", sans-serif;
    
}



.default-tile-theme{
    border: 2px solid pink !important;
}

a.tile{
    border: 1px solid #efefef;
    border-radius: 2px;
    margin: 1em;


}