
/* The specified tile section */
.tile-section.default-theme{
    font-family: "Trebuchet MS", "Gill Sans", sans-serif;
    color: #444;

    /* Heading and sub-heading of tile section */
    header.tile-section-header{

        h2.tile-section-title{

        }
        span.tile-section-sub-title{

        }
    }

    /* Wrapper for the tiles */
    .tile-wraper{
        .tile{

            border: 1px solid #444;
            border-radius: 3px;

            &:hover{
                background: #e8e8e8;
            }

            /* Image/ icon within a tile */
            img.tile-icon{

            }
            /* Tile name, and description text */
            .tile-texts{
                color: #000;
                .tile-name{
                    font-weight: bold;
                    text-transform: capitalize;
                }
                .tile-description{

                }
            }
        }
    }
}