.material-dark-theme{
    font-family: "Gill Sans", sans-serif;
    background: #5f6368;
    color: #FFF;
    .tile-wraper{
        .tile{
            background: #1f1f1f;
            color: #FFF;
            border-radius: 2px;
            transition: box-shadow 0.8s;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 
                        0 3px 6px rgba(0,0,0,0.23);

            &:hover{
                box-shadow: 0 7px 14px rgba(0,0,0,0.25), 
                            0 5px 5px rgba(0,0,0,0.22);
            }
        }
    }
}